.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 2rem;
  position: relative;
  background-color: #92c892;
}
.cardsContainerLimits {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ba73d8;
}
.cardsContainerLimits_title {
  color: #fff;
  font-size: 40px;
  padding-top: 1rem;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  flex-wrap: wrap;
  max-width: 800px;
  gap: 5px;
  margin: 2rem 0;
}

.cardsContainer__item {
  width: 24%;
  height: 150px;
  padding: 5px;
  background-color: #0c9b0c;
  border-radius: 10px;
  cursor: pointer;
}
.cardsContainer__item > * {
  font-size: 50px;
  color: #ffff00;
  height: 100%;
  width: 100%;
  padding: 5px;
}

.footer {
  height: 150px;
  width: 100%;
  background-color: #ba73d8;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
