.headerDesktopContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerDesktopContainer_title {
  display: flex;
  align-items: center;
}
.headerDesktopContainer_title > h1 {
  font-size: 30px;
  text-align: center;
}
.headerDesktopContainer_title > span {
  font-size: 70px;
}

.navbarDesktop {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.navbarDesktop__item {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid black;
}
