.card-container {
  width: 23%;
  height: 100px;
  perspective: 1000px;
  border-radius: 20px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-container.flip .flip-card {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 20px;
}

.flip-card-front {
  padding: 15px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.flip-card-back {
  background-color: #05486b;
  color: #fff;
  transform: rotateY(180deg);
}

.flip-card-back img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 801px) {
  .card-container {
    width: 16%;
    height: 150px;
    cursor: pointer;
  }
}
