.cardsContainer__item {
  width: 20%;
  /* height: 150px; */
  padding: 5px;
  background-color: #0c9b0c;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  background: none;
  /* top: 50%; */
  /* left: 50%; */
  transform: translate(-50%, -50%);
}
.cards {
  position: relative;
  width: 100%;
  hegth: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}
/* .cardsContainer__item > div {
    width: 100%;
    height: 100%;
  } */

.cardContainer {
  width: 16%;
  height: 150px;
  perspective: 1000px;
  border-radius: 20px;
}
.flipCard {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.cardContainer.flip .flipCard {
  transform: rotateY(180deg);
}
.flipCardFront,
.flipCardBack {
  padding: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 20px;
}
.flipCardFront {
  background-color: #333;
  color: #fff;
}
.flipCardBack {
  background-color: #05486b;
  color: #fff;
  transform: rotateY(180deg);
}
.flipCardBack img {
  width: 100%;
  height: 95%;
}
